@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --primary-color: #6D28D9;
    --off-white: #E5E7EB;
}

hr{
    margin: 2rem 0rem;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;

    
}

/* Container level CSS */

.container {
    padding: 0rem 1rem;


}


.container-center{
    max-width: 500px ;
    margin: auto;
}


.link{
    text-decoration: none;
    padding: 0.1rem 0.5rem;
    color: black;

}

.blog-link{
    text-decoration: none;
    padding: 0rem 0rem;
    color: black;
}

.dark-mode .blog-link{
    color: #E5E7EB;
}
.dark-mode .secondary-link{
    color: white;
}

.blog-link:hover{  
    transition: all .3s ease-in-out;
    color:var(--primary-color);

}

.primary-link {
    background-color:var(--primary-color);
    border-radius: 0.9rem;
    color: white;
  
}


.primary-link:hover{
    border-radius: 0.9rem;
    font-size: 1.3rem;  
    overflow: auto; 
    line-height: 0;
    font-weight: bold ;
    transition: ease-in-out;
    transition-duration: 300ms;
    background: linear-gradient(to right, var(--primary-color) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-in-out;
    color:var(--primary-color);
}
/* BEM methods */

.secondary-link{
    color: black;
    border-radius: 0.9rem;
    border: 2px solid var(--primary-color);
    
}


.secondary-link:hover{
    color: var(--primary-color);
    border-radius: 0.7rem;
    font-size: 1.3rem;  
    overflow: auto; 
    line-height: 0;
    font-weight: bold ;
    transition-duration: 300ms;
    background: linear-gradient(to right,var(--primary-color) 50%,white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-in-out;
    
}
.ow .secondary-link {
    color:white;
}
.ow .secondary-link:hover {
    color: var(--primary-color);
    border-radius: 0.7rem;
    font-size: 1.3rem;  
    overflow: auto; 
    line-height: 0;
    font-weight: bold ;
    transition-duration: 300ms;
    background: linear-gradient(to right,var(--primary-color) 50%,white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-in-out;
    
}



/* LISTS */

.list-nonbullet{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 1rem 0.5rem;
}

/* NAVIGATION */

.navigation{
    background-color:#161b22;
    color: white;
    padding: 1rem;
    border-bottom-left-radius
    : 1.5rem;



}

.navigation .nav-pills{
    text-align: right;

}

.navigation .link{
    
    color:white;



}


.navigation .link-active{
    font-weight: bolder;
    border-radius: 2rem;
    animation-name: animate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
 
  
}


.navigation .link:hover{
    border: 1px solid rgb(255, 255, 255);
    transition: ease-in-out;
    transition-duration: 500ms;
    border-radius: 2rem;
    font-size: 1.2rem;  
    overflow: auto; 
    line-height: 0;
    font-weight: bold ;

    
}

@keyframes animate {
    50%   {background-color: #8159CB;
    filter:blur(1px);}
}




/* HEADER */

.hero{
    padding: 2rem;
}

.hero .hero-img{
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    border-radius: 15rem;

    
    
}

.blog-img{
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    border-radius: 6rem;
}

.hero .hero-heading{
    text-align: center;
    color:gray;
    
}


/* Section */
.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
    padding: 0rem;
}

.ow{
    background-color:#37474F;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    color:white;
}




/* Footer */
.footer{
    background-color: #161b22;
    padding: 1rem 0rem;
    color: white;
    text-align: center;

}


.footer .footer-img{
    
    width: 30px;
    height: 30px;
    display:ruby-text-container;
    margin: auto;
    background-color: white;
    border-radius: 3em;
}

.footer .footer-img:hover{
    
    width: 30px;
    height: 30px;
    animation-name: animate;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    border-radius: 2em;
    
}



.footer .footer-heading{
    font-weight: bold;
    font-size: large;
    padding-left: 2rem;
}

/* SPACE */
.margin-md{
    margin: 2rem;
}



.dark-mode{
    
    background-color: #1F2937;
    color: white;
    
}

.float{
    position: absolute;
	width:2em;
	height:2em;
	top:4em;
	left:2em;
	border-radius:3rem;
    background: linear-gradient(to top left, white,60%, black);

    
}





.float:hover{
    transition: ease-in-out;
    transition-duration: 300ms;
    border-radius: 3rem;
    width:3em;
	height:3em;
    overflow: auto; 
    line-height: 0;
    background: linear-gradient(to bottom right, white,40%, black);



}






